body {
    font-family: Consolas, sans-serif;
    background-color: rgb(141, 136, 71);
    text-align: center;
    padding: 50px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #629278;
}

label {
    display: outline-block;
    text-align: left;
    margin-bottom: 4px;
}

input[type="text"],
input[type="password"] {
    width: 70%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #c5b093;
}

button {
    background-color: #2c1580;
    color: rgb(223, 228, 172);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #11398a;
}

#message {
    margin-top: 20px;
    font-weight: bold;
}

